### Info on data from Kaggle and UNIC
+ Compeititon's goal was to predict item sales at stores in various locations for two 28-day time periods.
+ Data is focused on series that display intermittency, i.e., sporadic demand including zeros.
+ Based on hierarchical sales data, generously made available by Walmart, starting at the item level and aggregating to that of departments, product categories and stores in three geographical areas of the US: California, Texas, and Wisconsin.
+ Besides the time series data, it also included explanatory variables such as price, promotions, day of the week, and special events (e.g. Super Bowl, Valentineâ€™s Day, and Orthodox Easter) that affect sales which are used to improve forecasting accuracy.
+ calendar.csv - Contains information about the dates on which the products are sold.
+ sales_train_validation.csv - Contains the historical daily unit sales data per product and store [d_1 - d_1913]
+ sell_prices.csv - Contains information about the price of the products sold per store and date.
+ sales_train_evaluation.csv - Includes sales [d_1 - d_1941]

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# where the files are strored
DATA_RAW = '../data/raw/m5-forecasting-accuracy/'
DATA_PROCESSED = '../data/processed/'

sales_file = os.path.join(DATA_RAW, "sales_train_validation.csv")
calendar_file = os.path.join(DATA_RAW, "calendar.csv")
prices_file = os.path.join(DATA_RAW, "sell_prices.csv")

In [3]:
# load smaller support data
calendar = pd.read_csv(calendar_file)

# below helps with merging calendar in cells below
calendar['d'] = calendar['d'].astype(str)

prices = pd.read_csv(prices_file)

In [4]:
# need to process data in chunks. Getting memory issues
chunk_size = 1000 # num of rows to process
output_chunks = []

reader = pd.read_csv(sales_file, chunksize=chunk_size)

In [6]:
for i, chunk in enumerate(reader):
    print(f"Processing chunk {i + 1}")

    # Melt the wide format into long format
    chunk_long = pd.melt(
        chunk,
        id_vars=['id', 'item_id', 'dept_id', 'store_id', 'cat_id', 'state_id'],
        var_name='d',
        value_name='sales'
    )

    # Merge calendar info
    chunk_merged = chunk_long.merge(calendar, on="d", how="left")

    # Sort before merging prices so ffill works properly
    chunk_merged = chunk_merged.sort_values(by=['store_id', 'item_id', 'wm_yr_wk'])

    # Merge prices on store_id and item_id only so we're not joining on missing values
    chunk_merged = chunk_merged.merge(
        prices[['store_id', 'item_id', 'wm_yr_wk', 'sell_price']],
        on=['store_id', 'item_id', 'wm_yr_wk'],
        how='left'
    )

    # Forward fill sell_price within each store-item group
    chunk_merged['sell_price'] = (
        chunk_merged
        .groupby(['store_id', 'item_id'])['sell_price']
        .ffill()
    )

    # Drop rows still missing prices or date
    chunk_merged.dropna(subset=['sell_price', 'date'], inplace=True)

    print(f"Chunk {i + 1} processed. Shape: {chunk_merged.shape}")

    chunk_merged = chunk_merged[(chunk_merged['state_id'] == 'CA') & (chunk_merged['cat_id'] == 'FOODS')]
    
    output_chunks.append(chunk_merged)

Processing chunk 1
Chunk 1 processed. Shape: (1576972, 22)
Processing chunk 2
Chunk 2 processed. Shape: (1529918, 22)
Processing chunk 3
Chunk 3 processed. Shape: (1507084, 22)
Processing chunk 4
Chunk 4 processed. Shape: (1463250, 22)
Processing chunk 5
Chunk 5 processed. Shape: (1235036, 22)
Processing chunk 6
Chunk 6 processed. Shape: (1495548, 22)
Processing chunk 7
Chunk 7 processed. Shape: (1571918, 22)
Processing chunk 8
Chunk 8 processed. Shape: (1527979, 22)
Processing chunk 9
Chunk 9 processed. Shape: (1457251, 22)
Processing chunk 10
Chunk 10 processed. Shape: (1535588, 22)
Processing chunk 11
Chunk 11 processed. Shape: (1500091, 22)
Processing chunk 12
Chunk 12 processed. Shape: (1525193, 22)
Processing chunk 13
Chunk 13 processed. Shape: (1567676, 22)
Processing chunk 14
Chunk 14 processed. Shape: (1545157, 22)
Processing chunk 15
Chunk 15 processed. Shape: (1536365, 22)
Processing chunk 16
Chunk 16 processed. Shape: (1561145, 22)
Processing chunk 17
Chunk 17 processed. Shape: (1549910, 22)
Processing chunk 18
Chunk 18 processed. Shape: (1530520, 22)
Processing chunk 19
Chunk 19 processed. Shape: (1542819, 22)
Processing chunk 20
Chunk 20 processed. Shape: (1513566, 22)
Processing chunk 21
Chunk 21 processed. Shape: (1522925, 22)
Processing chunk 22
Chunk 22 processed. Shape: (1536988, 22)
Processing chunk 23
Chunk 23 processed. Shape: (1361946, 22)
Processing chunk 24
Chunk 24 processed. Shape: (1493959, 22)
Processing chunk 25
Chunk 25 processed. Shape: (1522106, 22)
Processing chunk 26
Chunk 26 processed. Shape: (1450307, 22)
Processing chunk 27
Chunk 27 processed. Shape: (1522211, 22)
Processing chunk 28
Chunk 28 processed. Shape: (1527930, 22)
Processing chunk 29
Chunk 29 processed. Shape: (1556861, 22)
Processing chunk 30
Chunk 30 processed. Shape: (739242, 22)

In [7]:
# combine all chunks
full_data = pd.concat(output_chunks, ignore_index=True)

In [8]:
# check to make sure full data is there
print(full_data.shape)

(8423403, 22)

In [9]:
full_data['month'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [10]:
print(full_data['date'].min(), full_data['date'].max())

2011-01-29 2016-04-24

In [14]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8423403 entries, 0 to 8423402
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item_id       object
 2   dept_id       object
 3   store_id      object
 4   cat_id        object
 5   state_id      object
 6   d             object
 7   sales         int64
 8   date          object
 9   wm_yr_wk      int64
 10  weekday       object
 11  wday          int64
 12  month         int64
 13  year          int64
 14  event_name_1  object
 15  event_type_1  object
 16  event_name_2  object
 17  event_type_2  object
 18  snap_CA       int64
 19  snap_TX       int64
 20  snap_WI       int64
 21  sell_price    float64
dtypes: float64(1), int64(8), object(13)
memory usage: 1.4+ GB

In [15]:
# save processed data
os.makedirs(DATA_PROCESSED, exist_ok=True)
output_path = os.path.join(DATA_PROCESSED, "ca_food_sales.csv")
full_data.to_csv(output_path, index=False)

print("saved data to: ", output_path)

saved data to:  ../data/processed/ca_food_sales.csv

In [16]:
full_data.head()

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,CA_1,FOODS,CA,d_1,3,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,2.0
1,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,CA_1,FOODS,CA,d_2,0,2011-01-30,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,2.0
2,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,CA_1,FOODS,CA,d_3,0,2011-01-31,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,2.0
3,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,CA_1,FOODS,CA,d_4,1,2011-02-01,11101,...,2,2011,NaN,NaN,NaN,NaN,1,1,0,2.0
4,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,CA_1,FOODS,CA,d_5,4,2011-02-02,11101,...,2,2011,NaN,NaN,NaN,NaN,1,0,1,2.0